﻿@{
    ViewBag.Title = "Sobre";
    ViewBag.M = "About";
}

<!-- About us -->
<div class="block">
    <div class="container">
        <h1 class="decor color text-center">Sobre nós</h1>
        <p class="text-center font18">
            Piscinas D'ora, sim, este é o novo nome das Piscinas D'oro. Empresa que está no ramo de piscinas e lazer há 30 anos. Estamos localizados em um ponto estratégico da cidade e com sede própria desde sua inauguração, tornando conhecido o seu endereço. Prezamos pela parceria com nossos clientes, atendendo suas necessidades e dúvidas as quais somos expostos. Temos como meta fazermos mais amigos que clientes. Estamos sempre buscando preparação técnica para podermos orientar de maneira correta.
            <br /><br />Trabalhamos com as marcas mais conceituadas do mercado, somos especialistas em saunas, tratamento de água, filtros e tudo que é necessário para seu lazer. Seja também um cliente amigo, consulte-nos e nos faça uma visita. Temos estacionamento dentro da loja e estamos próximo à praça da Liberdade. Nas Piscinas D'ora, nosso relacionamento nunca acaba após a venda, pelo contrário, ai é apenas o começo de nossa parceria.
        </p>
        <div class="divider"></div>
        <div>
            <img src="/images/about-img-03.jpg" class="img-responsive img-rounded" alt="">
        </div>
    </div>
</div>

<!-- Block -->
<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5>Liderando pelo exemplo</h5>
                <p>A piscinas D'ora tem sido conhecida como a principal empresa de piscinas na capital Mineira, liderando a cobrança nas melhores práticas da Indústria, além de estar na vanguarda em vendas dos mais recentes avanços tecnológicos em piscinas, saunas, spas e aquecedores.</p>
            </div>
            <div class="divider visible-xs"></div>
            <div class="col-sm-4">
                <h5>Nós somos profissionais</h5>
                <p>Previna-se em ter contratempos na compra de materiais para sua piscina. Temos os melhores profissionais, sempre prontos a indicar as melhores práticas! Pode confiar! Somos bons no que fazemos!</p>
            </div>
            <div class="divider visible-xs"></div>
            <div class="col-sm-4">
                <h5>Porque nos escolher?</h5>
                <p>A Piscinas D'ora quer que você possa desfrutar sua piscina sem ter que lidar com todo o estresse em mantê-la. Materiais e serviços para tratá-la com honra e integridade, oferecendo-lhe um excelente serviço.</p>
            </div>
        </div>
    </div>
</div>

<!-- Block -->
<div class="block bg-1">
    <div class="container">
        <h2 class="text-center decor decor-white">Mais de 30 anos de Experiência</h2>
        <div class="row" id="timerBlock">
            <div class="col-sm-3">
                <div class="num-icon">
                    <div class="num-icon-icon"><i class="icon icon-swimming-pool"></i></div>
                    <div class="num-icon-num"><span class="timer" data-to="10000" data-speed="3000">+</span>+</div>
                    <h6 class="num-icon-text">Materiais para Piscinas</h6>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="num-icon">
                    <div class="num-icon-icon"><i class="icon icon-wrench"></i></div>
                    <div class="num-icon-num"><span class="timer" data-to="5000" data-speed="1500">+</span>+</div>
                    <h6 class="num-icon-text">Materiais para Saunas</h6>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="num-icon">
                    <div class="num-icon-icon"><i class="icon icon-shovel"></i></div>
                    <div class="num-icon-num"><span class="timer" data-to="1800" data-speed="4000">+</span>+</div>
                    <h6 class="num-icon-text">Materiais para manutenção</h6>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="num-icon">
                    <div class="num-icon-icon"><i class="icon icon-users"></i></div>
                    <div class="num-icon-num"><span class="timer" data-to="2500" data-speed="5000">+</span>+</div>
                    <h6 class="num-icon-text">Clientes Felizes</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Block -->
<div class="block bottom-md-margin">
    <div class="container">
        <h2 class="text-center decor color">Missão & Visão</h2>
        <div class="row">
            <div class="col-sm-6 post animation" data-animation="fadeInLeft" data-animation-delay="0s">
                <h5>Visão</h5>
                <div class="row">
                    <div class="col-sm-6 post-image"><img src="/images/about-img-01.jpg" class="img-responsive" alt=""></div>
                    <div class="col-sm-6 poast-text">A piscinas D'ora, como empresa, continuará a colocar as necessidades de nossos clientes acima de tudo. À medida que crescemos, mantemos nossa garantia pessoal para cada cliente. Continuaremos a construir a Piscinas D'ora como uma referência no atendimento na capital Belo Horizontina.</div>
                </div>
            </div>
            <div class="divider visible-xs"></div>
            <div class="col-sm-6 post animation" data-animation="fadeInRight" data-animation-delay="0s">
                <h5>Missão</h5>
                <div class="row">
                    <div class="col-sm-6 post-image"><img src="/images/about-img-02.jpg" class="img-responsive" alt=""></div>
                    <div class="col-sm-6 poast-text">Os principais objetivos corporativos são proporcionar um nível de serviço excepcional aos clientes, parcerias estreitas e mutuamente benéficas com fornecedores, carreiras gratificantes e satisfatórias para os funcionários e crescimento da base de ativos da empresa, ao mesmo tempo em que contribui para a região e o meio Ambiente.</div>
                </div>
            </div>
        </div>
    </div>
</div>
