﻿@{
    ViewBag.Title = "Contatos";
    ViewBag.M = "Contact";
}

<!-- Google map -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBvVhlUPE1EfmxUrmVgT4UwZ3CIVAy2zI&sensor=false"></script>
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', init);
    function init() {
        var mapOptions = {
            zoom: 14,
            scrollwheel: false,
            center: new google.maps.LatLng(-19.929813, -43.940447),
            styles: [{
                "featureType": "administrative",
                "elementType": "labels.text.fill",
                "stylers": [{
                    "color": "#444444"
                }]
            }, {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [{
                    "color": "#f2f2f2"
                }]
            }, {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [{
                    "visibility": "off"
                }]
            }, {
                "featureType": "road",
                "elementType": "all",
                "stylers": [{
                    "saturation": -100
                }, {
                    "lightness": 45
                }]
            }, {
                "featureType": "road.highway",
                "elementType": "all",
                "stylers": [{
                    "visibility": "simplified"
                }]
            }, {
                "featureType": "road.arterial",
                "elementType": "labels.icon",
                "stylers": [{
                    "visibility": "off"
                }]
            }, {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [{
                    "visibility": "off"
                }]
            }, {
                "featureType": "water",
                "elementType": "all",
                "stylers": [{
                    "color": "#46bcec"
                }, {
                    "visibility": "on"
                }]
            }]
        };
        var mapElement = document.getElementById('map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var image = '/images/map-marker.png';
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-19.9298673, -43.9404464),
            map: map,
            icon: image
        });
    }
</script>

<!-- Block -->
<div class="block">
    <div class="container">
        <h1 class="text-center decor color">Entre em Contato Conosco</h1>
        <div class="row">
            <div class="col-sm-5 col-md-3">
                <div class="address">
                    <div><img src="/images/logo.png" class="img-responsive" alt="" /></div>
                    <div class="divider-sm"></div>
                    <div class="address-block">
                        <i class="icon icon-location"></i>
                        <h6 class="text-uppercase">Nosso Endereço:</h6>AVENIDA BIAS FORTES, 340.
                        <br>CENTRO BH 30.170-011
                    </div>
                    <div class="address-block">
                        <i class="icon icon-call-telephone"></i>
                        <h6 class="text-uppercase">TELEFONE:</h6> (31) 3224-7077
                    </div>
                    <div class="divider-sm"></div>
                    <h6>QUAIS SÃO SUAS DÚVIDAS?</h6>
                    <p>
                        <a href="mailto:piscinasdora@gmail.com">piscinasdora@gmail.com</a>
                        <br>
                        <a href="https://www.piscinasdora.com/" target="_blank">www.piscinasdora.com</a>
                    </p>
                </div>
                <div class="divider"></div>
            </div>
            <div class="col-sm-1 visible-lg"></div>
            <div class="col-sm-7 col-md-8">
                <form id="contactform" class="contact-form" name="contactform" method="post" novalidate>
                    <div class="inputs-col">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-wrapper">
                                    <label>Nome <span class="required">*</span></label>
                                    <input type="text" class="input-custom input-full" name="name" placeholder="Seu nome">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-wrapper">
                                    <label>Telefone <span class="required">*</span></label>
                                    <input type="text" class="input-custom input-full" name="phone" placeholder="(xx) xxxxx-xxxx">
                                </div>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <label>Email <span class="required">*</span></label>
                            <input type="text" class="input-custom input-full" name="email" placeholder="xxxx@xxxx.com">
                        </div>
                    </div>
                    <div>
                        <label>Qual a sua necessidade?</label>
                        <textarea class="textarea-custom input-full" name="message"></textarea>
                    </div>
                    <div id="success">
                        <div class="alert alert-success alert-margin">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>*@
                            <strong>Sua solicitação foi enviada com sucesso! Responderemos o mais rápido possível!</strong>
                        </div>
                    </div>
                    <div id="error">
                        <div class='alert alert-danger alert-margin'>
                            @*<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>*@
                            <strong>Ops! Alguma informação está faltando! Coloque seu email e telefone corretamente.</strong>
                        </div>
                    </div>
                    <button type="submit" id="submit" class="btn">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Block -->
<div class="block bottom-null">
    <div id="map"></div>
</div>
