﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Loja de materiais para área de lazer especializada em piscina" />
    <meta name="author" content="" />
    <link rel="icon" href="/favicon.ico">
    <title>Piscinas D'ORA</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/plugins/bootstrap.min.css" rel="stylesheet">
    <link href="/css/plugins/bootstrap-submenu.css" rel="stylesheet">
    <link href="/css/plugins/animate.min.css" rel="stylesheet">
    <link href="/css/plugins/nivo-slider.css" rel="stylesheet">
    <link href="/css/plugins/slick.css" rel="stylesheet">
    <link href="/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!-- Icon Font-->
    <link href="/font/icons/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body class="home">
    <!-- Loader -->
    <div id="loader-wrapper" class="loader-on">
        <div id="loader">
            <div class="loader">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>carregando...</p>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="page-header sticky">
        <!-- Fixed navbar -->
        <nav class="navbar" id="slide-nav">
            <div class="container">
                <div class="navbar-header">
                    <div class="header-top">
                        <div class="row">
                            <div class="col-sm-8 col-md-4 first-mobile">
                                <div class="phone">
                                    <div class="number"><i class="icon icon-call-telephone"></i><span>(31) 3224-7077</span></div>
                                    <div>LIGUE PARA DÚVIDAS, ORÇAMENTOS E AGENDAMENTOS</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-3 hidden-xs hidden-sm">
                                <div class="slogan">Há 30 anos dispobilizando os melhores materiais e serviços para seu lazer</div>
                            </div>
                            <div class="col-lg-1 visible-lg"></div>
                            <div class="col-sm-4 text-center">
                                <div class="logo">
                                    <a href="/Home/Index"><img src="/images/logo.png" alt="Logo"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="navbar-toggle"><i class="icon icon-menu"></i><i class="icon icon-cancel"></i></button>
                </div>
                <div id="slidemenu" data-hover="dropdown" data-animations="fadeIn">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/Home/Index">HOME</a></li>
                        <li class="dropdown">
                            <a href="/Home/About" data-toggle="dropdown">SOBRE<span class="ecaret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Home/Testimonial">O QUE DIZEM SOBRE NÓS</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/Shop">PRODUTOS</a></li>
                        <li class="dropdown">
                            <a href="/Service/Services" data-toggle="dropdown">SERVIÇOS<span class="ecaret"></span></a>
                        </li>
                        <li><a href="/Home/Tips">DICAS</a></li>
                        <li><a href="/Home/contact">CONTATOS</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content  -->
    <div id="page-content">
        <!-- Slider -->
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="/images/slider/slide1.jpg" title="#htmlcaption1" data-thumb="/images/slider/slide1.jpg" alt="" />
                <img src="/images/slider/slide2.jpg" title="#htmlcaption2" data-thumb="/images/slider/slide2.jpg" alt="" />
                <img src="/images/slider/slide3.jpg" title="#htmlcaption3" data-thumb="/images/slider/slide3.jpg" alt="" />
            </div>
            <canvas id='sea'></canvas>
            <div id="htmlcaption1" class="nivo-caption">
                <div class="vert-wrapper">
                    <div class="vert">
                        <div class="text text1">Aperfeiçoe a perfeição, sempre.</div>
                        <div class="text text2">Água limpa, consciência limpa.</div>
                        <div class="text text3"><a href="#modalForm1" class="btn btn-orange modal-popup-link">Solicite agora mesmo</a></div>
                    </div>
                </div>
            </div>
            <div id="htmlcaption2" class="nivo-caption">
                <div class="vert-wrapper">
                    <div class="vert">
                        <div class="text text1">
                            Nós fazemos todo o trabalho.
                            <br>Você tem toda a diversão.
                        </div>
                        <div class="text text2">Servindo seu relaxamento</div>
                        <div class="text text3"><a href="#modalForm1" class="btn btn-orange modal-popup-link">Solicite agora mesmo</a></div>
                    </div>
                </div>
            </div>
            <div id="htmlcaption3" class="nivo-caption">
                <div class="vert-wrapper">
                    <div class="vert">
                        <div class="text text1">
                            Materiais e Serviços 100% confiáveis
                            <br>Prazer em relaxar
                        </div>
                        <div class="text text2">Nós vendemos e fazemos tudo para sua piscina</div>
                        <div class="text text3"><a href="#modalForm1" class="btn btn-orange modal-popup-link">Solicite agora mesmo</a></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Services Block -->
        <div class="block">
            <div class="container">
                <div class="row services-carousel">
                    <div class="col-sm-4 animation" data-animation="fadeInLeft" data-animation-delay="0s">
                        <div class="service-item">
                            <div class="icon-circle">
                                <div class="icon-hover"></div>
                                <div class="icon icon-swimming-pool"></div>
                            </div>
                            <div class="service-title">
                                <h4><span>PISCINA RESIDENCIAL <br>MATERIAIS</span></h4>
                            </div>
                            <div class="service-text">Uma piscina pode fornecer o refúgio perfeito para você e sua família </div>
                        </div>
                    </div>
                    <div class="col-sm-4 animation" data-animation="fadeInUp" data-animation-delay="0s">
                        <div class="service-item">
                            <div class="icon-circle">
                                <div class="icon-hover"></div>
                                <div class="icon icon-waterpolo"></div>
                            </div>
                            <div class="service-title">
                                <h4><span>PISCINAS COMERCIAIS <br>MATERIAIS</span></h4>
                            </div>
                            <div class="service-text"> Fornecemos todas as necessidades comerciais de piscina, spa, sauna, aquecedores, projetos de renovação e construção </div>
                        </div>
                    </div>
                    <div class="col-sm-4 animation" data-animation="fadeInRight" data-animation-delay="0s">
                        <div class="service-item">
                            <div class="icon-circle">
                                <div class="icon-hover"></div>
                                <div class="icon icon-shovel"></div>
                            </div>
                            <div class="service-title">
                                <h4><span>PROJETO E CONSTRUÇÃO <br> SERVIÇOS</span></h4>
                            </div>
                            <div class="service-text">Podemos ajudá-lo a projetar algo que atenda às suas especificações únicas </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Category Block -->
        <div class="block bottom-sm-margin">
            <div class="container">
                <h2 class="decor color text-center">Materiais e Serviços</h2>
                <div class="row category-carousel">
                    <div class="col-sm-6 col-md-4">
                        <div class="category-item animation" data-animation="fadeInLeft" data-animation-delay="0s">
                            <div class="category-image">
                                <img src="/images/category-img-01.jpg" alt="" class="img-responsive">
                                <h5 class="category-title">Reparos</h5>
                                <div class="wave-wrapper">
                                    <div class="wave"></div>
                                </div>
                            </div>
                            <div class="category-text">
                                Nossos serviços de reparo da piscina podem ajudá-lo a solucionar qualquer vazamento, substituição da válvula ou mau funcionamento da bomba<span class="category-more-link">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 animation" data-animation="fadeIn" data-animation-delay="0s">
                        <div class="category-item">
                            <div class="category-image">
                                <img src="/images/category-img-02.jpg" alt="" class="img-responsive">
                                <h5 class="category-title">Reformas</h5>
                                <div class="wave-wrapper">
                                    <div class="wave"></div>
                                </div>
                            </div>
                            <div class="category-text">
                                Nós podemos ajudar a projetar e restaurar piscinas e saunas antigas para parecer novas!<span class="category-more-link">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 animation" data-animation="fadeInRight" data-animation-delay="0s">
                        <div class="category-item">
                            <div class="category-image">
                                <img src="/images/category-img-03.jpg" alt="" class="img-responsive">
                                <h5 class="category-title">Instalação de equipamentos</h5>
                                <div class="wave-wrapper">
                                    <div class="wave"></div>
                                </div>
                            </div>
                            <div class="category-text">
                                Nossos especialistas técnicos realizam a instalação do seu novo equipamento<span class="category-more-link">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="category-item animation" data-animation="fadeInLeft" data-animation-delay="0s">
                            <div class="category-image">
                                <img src="/images/category-img-04.jpg" alt="" class="img-responsive">
                                <h5 class="category-title">
                                    Superfícies de Piscina
                                </h5>
                                <div class="wave-wrapper">
                                    <div class="wave"></div>
                                </div>
                            </div>
                            <div class="category-text">
                                Oferecemos todos os produtos necessários para revovar aquela piscina que precisa de uma vida nova! Confira conosco! <span class="category-more-link">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="category-item animation" data-animation="fadeIn" data-animation-delay="0s">
                            <div class="category-image">
                                <img src="/images/category-img-05.jpg" alt="" class="img-responsive">
                                <h5 class="category-title">Materiais de Limpeza</h5>
                                <div class="wave-wrapper">
                                    <div class="wave"></div>
                                </div>
                            </div>
                            <div class="category-text">
                                Todos os melhores produtos de limpeza do mercado estão aqui conosco! Faça seu orçamento!<span class="category-more-link">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="category-item animation" data-animation="fadeInRight" data-animation-delay="0s">
                            <div class="category-image">
                                <img src="/images/category-img-06.jpg" alt="" class="img-responsive">
                                <h5 class="category-title">Projetos e modernização</h5>
                                <div class="wave-wrapper">
                                    <div class="wave"></div>
                                </div>
                            </div>
                            <div class="category-text">
                                Nós facilitamos a troca de todos equipamentos com uma grande variedade de produtos, criando o que você imaginou!<span class="category-more-link">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pricing Block -->
        <div class="block bg-2">
            <div class="container">
                <div class="pricing">
                    <div class="pricing-box">
                        <div class="inside">
                            <h3>OFERTAS ESPECIAIS</h3>
                            <div class="price-carousel">
                                <div class="price-item">
                                    <h6 class="price-title">AS MELHORES MARCAS</h6>
                                    <div class="price-text">Trabalhamos com as melhores marcar para melhor servir a você!</div>
                                    <div class="price-price">
                                        <div class="price-from">Faça seu orçamento</div>
                                        <div class="price-value"><span>(31)<b>3224-7077</b></span> confira</div>
                                    </div>
                                    <div class="price-action"><a href="#modalForm1" class="btn btn-orange modal-popup-link">Solicite agora mesmo</a></div>
                                </div>
                                <div class="price-item">
                                    <h6 class="price-title">OS PROFISSIONAIS MAIS BEM TREINADOS</h6>
                                    <div class="price-text">Uma equipe extremamente capacitada e treinada para melhor atender.</div>
                                    <div class="price-price">
                                        <div class="price-from">Faça seu orçamento</div>
                                        <div class="price-value"><span>(31)<b>3224-7077</b></span> confira</div>
                                    </div>
                                    <div class="price-action"><a href="#modalForm1" class="btn btn-orange modal-popup-link">Solicite agora mesmo</a></div>
                                </div>
                                <div class="price-item">
                                    <h6 class="price-title">EXPERIÊNCIA DE MERCADO</h6>
                                    <div class="price-text">Com muito anos de mercado, atendendos a grande BH, disponibilizando os melhores produtos e serviços.</div>
                                    <div class="price-price">
                                        <div class="price-from">Faça seu orçamento</div>
                                        <div class="price-value"><span>(31)<b>3224-7077</b></span> confira</div>
                                    </div>
                                    <div class="price-action"><a href="#modalForm1" class="btn btn-orange modal-popup-link">Solicite agora mesmo</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- News Block -->
        <div class="block bottom-sm-margin">
            <div class="container">
                <h2 class="decor color text-center">CONTE CONOSCO PARA SUA TRANQUILIDADE</h2>
                <div class="row news-item-row">
                    <div class="col-sm-6 col-md-4">
                        <div class="news-item animation" data-animation="fadeInLeft" data-animation-delay="0s">
                            <div class="news-item-image"><img src="/images/news-img-01.jpg" alt="" class="img-responsive"></div>
                            <div class="news-item-text">
                                <h5 class="news-item-title">Este não é apenas nosso trabalho, é a nossa paixão.</h5>
                                <p>Inovamos sempre em busca de novos produtos e serviços para deixar a diversão por sua conta! Entre em contato conosco</p>
                                <span class="news-item-more-link">
                                    <a href="contact"><span class="icon icon-right-arrow"></span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="news-item animation" data-animation="fadeIn" data-animation-delay="0s">
                            <div class="news-item-image"><img src="/images/news-img-02.jpg" alt="" class="img-responsive"></div>
                            <div class="news-item-text">
                                <h5 class="news-item-title">PRODUTOS PARA LIMPEZA</h5>
                                <p>Elevador de pH, cloro, Algicida de choque, Decantador e muito mais para deixar sua piscina perfeita, confira</p>
                                <span class="news-item-more-link">
                                    <a href="contact"><span class="icon icon-right-arrow"></span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="news-item animation" data-animation="fadeInRight" data-animation-delay="0s">
                            <div class="news-item-image"><img src="/images/news-img-03.jpg" alt="" class="img-responsive"></div>
                            <div class="news-item-text">
                                <h5 class="news-item-title">TODA TECNOLOGIA AO SEU ALCANCE</h5>
                                <p>Sistemas de Sanitização, Aquecimento, Iluminação e muito mais! Você tendo acesso ao tudo o que há de mais novo em piscinas, aquecedores e Spas! Confira</p>
                                <span class="news-item-more-link">
                                    <a href="contact"><span class="icon icon-right-arrow"></span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Testimonials Block -->
        <div class="block bottom-md-margin">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="testimonials animation" data-animation="fadeInLeft">
                            <h3 class="color decor text-center">O que dizem sobre nós em nossas redes sociais</h3>
                            <div class="testimonials-carousel">
                                <div class="testimonials-item">
                                    <div class="testimonials-text">Qualquer um pode vender produtos de piscina, mas o serviço do D´ora está em outro nível. Eles realmente se importam em fazer um excelente trabalho, então é sempre um prazer ter eles vindo no meu condomínio.</div>
                                    <div class="testimonials-username">David Campos</div>
                                </div>
                                <div class="testimonials-item">
                                    <div class="testimonials-text">Ótimo serviço. Eles realmente me ajudaram quando meu aquecedor parou. Eles fizeram a troca e o pagamento muito conveniente para mim. Eu recomendo esta empresa.</div>
                                    <div class="testimonials-username">João Paulo</div>
                                </div>
                                <div class="testimonials-item">
                                    <div class="testimonials-text">Muito prestativos. Me entregaram em casa e minha sauna está totalmente funcional. Incido!</div>
                                    <div class="testimonials-username">José Cássio</div>
                                </div>
                                <div class="testimonials-item">
                                    <div class="testimonials-text">Entregaram na data e no prazo que combinamos. O preço e as formas de pagamento são muito boas. Confio muito em vocês!</div>
                                    <div class="testimonials-username">Matheus Ventura</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="request-form animation" data-animation="fadeInRight">
                            <h4>SOLICITE UM ORÇAMENTO</h4>
                            <div>Nossas estimativas são gratuitas, profissionais e justas. Atendimento local e Visitas ao seu local de atendimento. Nos diga qual a sua necessidade:</div>
                            <form class="request-form-js" id="requestFormSimple" method="post">
                                <div class="successform">
                                    <p>Sua solicitação foi enviada com sucesso! Responderemos o mais rápido possível!</p>
                                </div>
                                <div class="errorform">
                                    <p>Ops! Alguma informação está faltando! Coloque seu email e telefone corretamente.</p>
                                </div>
                                <input class="input-custom input-full" type="text" name="name" placeholder="Nome:" />
                                <input class="input-custom input-full" type="text" name="phone" placeholder="telefone:" />
                                <input class="input-custom input-full" type="text" name="email" placeholder="Email:" />
                                <textarea class="input-custom input-full" type="text" name="message" placeholder="Diga aqui sua necessidade:"></textarea>
                                <button type="submit" class="btn btn-orange">ENVIAR</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="page-footer">
        <div class="back-to-top hidden-xs"><a href="#top"><span class="icon icon-up-arrow"></span></a></div>
        <div class="container">
            <div class="footer-menu hidden-xs">
                <ul>
                    <li><a href="/Home/Index">HOME</a></li>
                    <li><a href="/Home/About">SOBRE</a></li>
                    <li><a href="/Service/Services">SERVIÇOS</a></li>
                    <li><a href="/Home/Tips">DICAS</a></li>
                    <li><a href="/Home/Shop">LOJA</a></li>
                    <li><a href="/Home/Contact">CONTATOS</a></li>
                </ul>
            </div>
            <div class="row footer-row">
                <div class="col-sm-4">
                    <div class="location"><i class="icon icon-location"></i>AVENIDA BIAS FORTES, 340, LOJA. CENTRO BH 30.170-011</div>
                </div>
                <div class="col-sm-4 first-mobile">
                    <div class="phone">
                        <div class="number"><i class="icon icon-call-telephone"></i><span>(31) 3224-7077</span></div>
                        <div class="number"><i class="icon icon-call-telephone"></i><span>(31) 98637-9171</span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="logo">
                        <a href="/Home/Index"><img src="/images/logo-invert.png" alt="Logo"></a>
                    </div>
                </div>
            </div>
            <div class="footer-bot">
                <div class="copyright">© Piscinas D'ora. 2017. Política de Privacidade</div>
                <div class="social-links">
                    <ul>
                        <li>
                            <a class="icon icon-social-facebook" href="https://www.facebook.com/piscinasdora/" target="_blank"></a>
                        </li>
                        <li>
                            <a class="icon icon-instagram" href="https://www.instagram.com/piscinasdora/" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <canvas id='footerSea'></canvas>
    </div>

    <!-- Modal -->
    <div id="modalForm1" class="form-modal">
        <!-- request form -->
        <div class="request-form-popup">
            <form class="request-form-js" id="requestForm" method="post">
                <div class="text-center">
                    <h3>Faça já seu orçamento</h3>
                    <p>Nossas estimativas são gratuitas, profissionais e justas. Atendimento local e Visitas ao seu local de atendimento. Nos diga qual a sua necessidade:</p>
                    <div class="successform">
                        <p>Sua solicitação foi enviada com sucesso! Responderemos o mais rápido possível!</p>
                    </div>
                    <div class="errorform">
                        <p>Ops! Alguma informação está faltando! Coloque seu email e telefone corretamente.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" placeholder="Nome" name="name">
                        <input type="text" placeholder="E-mail" name="email">
                        <input type="text" placeholder="Telefone" name="phone">
                        <textarea placeholder="Diga aqui sua necessidade" name="message" class="input-full"></textarea>
                        <div class="hidden-xs">
                            <button type="submit" class="btn btn-orange">Enviar</button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-row">
                            <p class="p-label">Eu preciso materiais ou serviços de:</p>
                            <div class="radio-row">
                                <div class="radio">
                                    <input id="radio-1" name="radio1" type="radio" value="Piscina" checked>
                                    <label for="radio-1" class="radio-label">Piscina</label>
                                </div>
                                <div class="radio">
                                    <input id="radio-2" name="radio1" type="radio" value="Materiais">
                                    <label for="radio-2" class="radio-label">Materiais</label>
                                </div>
                                <div class="radio">
                                    <input id="radio-3" name="radio1" type="radio" value="Sauna">
                                    <label for="radio-3" class="radio-label">Sauna</label>
                                </div>
                                <div class="radio">
                                    <input id="radio-4" name="radio1" type="radio" value="Servicos">
                                    <label for="radio-4" class="radio-label">Serviços</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-xs text-center">
                        <div class="divider-md"></div>
                        <button type="submit" class="btn btn-orange">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/plugins/bootstrap.min.js"></script>
    <script src="/js/plugins/jquery.nivo.slider.js"></script>
    <script src="/js/plugins/slick.min.js"></script>
    <script src="/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/js/plugins/jquery.waypoints.min.js"></script>
    <script src="/js/plugins/jquery.countTo.js"></script>
    <script src="/js/plugins/jquery.form.js"></script>
    <script src="/js/plugins/jquery.validate.min.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html>