﻿@model int
@{
    ViewBag.Title = "Produtos";
    ViewBag.M = "Shop";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".nav-tabs a").click(function (e) {
            if ($(this).attr("href") != $("li.menu-shop.active").children().attr("href")) {
                $(this).tab('show');
            }
            e.preventDefault()
        });
    });
</script>

<!-- Block -->
<div class="block bottom-null">
    <div class="container">
        <h1 class="text-center decor color">Nossos principais Produtos</h1>
        <p class="font18 text-center">
            Trabalhamos com produtos de primeira linha, todos dentros dos mais altos padrões da ANVISA e INMETRO
            <br>Veja alguns destaques:
        </p>
        <div class="divider"></div>
    </div>
</div>

<!--Products-->
<div class="block">
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="menu-shop active"><a class="font-Menu" href="#ProdutoQuimico">PRODUTOS QUÍMICOS</a></li>
                <li class="menu-shop"><a class="font-Menu" href="#Acessorio">PISCINAS</a></li>
                <li class="menu-shop"><a class="font-Menu" href="#Sauna">SAUNA</a></li>
                <li class="menu-shop"><a class="font-Menu" href="#Aquecedores">AQUECEDORES</a></li>
                <li class="menu-shop"><a class="font-Menu" href="#Inflaveis">INFLÁVEIS E COLETES</a></li>
                <li class="menu-shop"><a class="font-Menu" href="#Moveis">MÓVEIS E SOMBRINHAS</a></li>
                <li class="menu-shop"><a class="font-Menu" href="#Pisos">PRODUTOS PARA PISOS</a></li>
            </ul>
            <div class="col-md-12 col-lg-12 column-center">
                <div class="tab-content">
                    <div id="ProdutoQuimico" class="tab-pane fade in active">
                        <div class="prd-grid">
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-10.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Pó Aumento de PH</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-11.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Estabilizador de Ph</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-12.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Sulfato de Alumínio</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Algicida de Manutenção</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-2.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Algicida de Choque</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-3.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Redutor de Ph e Alcalinidade</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-4.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Balde Cloro Multiação 10Kg</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-5.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Balde Cloro Orgânico 10Kg</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-6.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Limpa Bordas Concentrado</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-7.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Hiplocorito de Cálcio</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-8.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Clarificador e Decantador</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-9.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Pastilhas de Tricolo estabilizado</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-41.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Kits Reagentes PH e Cloro</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/103.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Cloro Genco 3x 1</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/104.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Genco Pet</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/105.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>GenFloc</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Acessorio" class="tab-pane fade">
                        <div class="prd-grid">
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-37.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Filtro Nautilus para piscinas</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/101.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Filtro Nautilus</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-38.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Motobombas</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-13.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Mini Clorador</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-14.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Peneira Plástica</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-15.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Peneira Pelicano</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-16.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Skimmer</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-17.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>PasseLimp</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/102.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Cascatas - Modelos</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-18.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Dosador de cloro</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-20.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Escada 3D</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-21.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Asa Delta</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-22.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Caixa de passagem Tampa plástica com pronlogador</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-23.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Kit Limpeza</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-24.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Jumbo 3R com escova</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-47.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Cabos</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-48.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Escova de Aço Inox</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-25.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>TOP 8R</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-26.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Mangueira</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-27.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Adaptadores</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-28.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>SMD Acabamento de Plástico</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-29.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Conjunto de Trava rápido</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-30.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Clorador Alpha</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-31.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Esfera</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-32.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Escovas</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-33.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Alvenaria</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-34.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Led's</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-36.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Filtro de água potável</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Sauna" class="tab-pane fade">
                        <div class="prd-grid">
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/110.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Sauna a Vapor a Gás Baby Pop INOX para 12m³ GLP com Controle analógico</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/111.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Sauna BTG - Controle analógico ou analógico</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/112.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Sauna POP - Controle analógico ou analógico</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/113.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Sauna Super POP Elétrica - Controle analógico ou analógico</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/92.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Porta de alumínio em acabamento de fórmica</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-40.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Portas e laminados para saunas</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-43.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Quadro digitas - Gás</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-44.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Sauna Seca</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-45.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Quadro Analógico</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/90.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Essência de Eucalípito - Sauna Flex</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/91.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Essência eucalípito - Tulipa</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Aquecedores" class="tab-pane fade">
                        <div class="prd-grid">
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-46.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Aquecedor Mecânico</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/shop-prd-35.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Bomba de Calor Nautilus para piscinas AS-25 - série Aquahot Special</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Inflaveis" class="tab-pane fade">
                        <div class="prd-grid">
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/60.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Boia salva vidas</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/61.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Colete Salva Vidas</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/62.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Colete Salva Vidas</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/63.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Kit Galinha Pintadinha</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/64.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Kit Sapo Cururu</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/bbb.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Boia Crocodilo</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/ccc.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Colchão Inflável</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Moveis" class="tab-pane fade">
                        <div class="prd-grid">
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/70.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Mesa de plástico redonda</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/71.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Mesa de plástico retangular</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/72.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Mesa de plástico retangular</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/aaa.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Base para Ombrelone</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/ddd.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Ombrelone madeira Branco</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Pisos" class="tab-pane fade">
                        <div class="prd-grid">
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/80.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Limpa pedras 2 Litros</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/81.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Limpa pedras 5 Litros</h3>
                                </div>
                            </div>
                            <div class="prd">
                                <div class="prd-img">
                                    <img src="/images/product/82.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="prd-info">
                                    <h3>Limpa porcelanato, mármore e granito 1 Litro</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
