﻿@{
    ViewBag.Title = "Testemunhos";
    ViewBag.M = "About";
}

<!-- Block -->
<div class="block bottom-md-margin">
    <div class="container">
        <h1 class="text-center decor color">O que dizem nossos clientes</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="testimonial-simple">
                    <a href="https://www.facebook.com/pg/piscinasdora/reviews/" target="_blank">
                        <div class="testimonial-simple-text">"Gostei das opções de sauna! Ótimo preço e esquentou bem a piscina do meu sítio. Recomendo!”</div>
                    </a>
                    <div class="testimonial-simple-author">- Wagner Thasmo</div>
                </div>
                <div class="testimonial-simple">
                    <a href="https://www.facebook.com/pg/piscinasdora/reviews/" target="_blank">
                        <div class="testimonial-simple-text">“Empresa séria! Recomendo! Atendimento de primeira qualidade!”</div>
                    </a>
                    <div class="testimonial-simple-author">- Dorneles Valadares</div>
                </div>
                <div class="testimonial-simple">
                    <a href="https://www.facebook.com/pg/piscinasdora/reviews/" target="_blank">
                        <div class="testimonial-simple-text">"Preço justo e atendimento excelente, principalmente os Donos, vale muito a pena, super recomendo."</div>
                    </a>
                    <div class="testimonial-simple-author">- Mauro Fernandes Junior</div>
                </div>
                <div class="testimonial-simple">
                    <a href="https://www.facebook.com/piscinasdora/photos/a.688756747989043.1073741827.688750274656357/688756621322389/?type=3&theater" target="_blank">
                        <div class="testimonial-simple-text">"Realmente uma empresa séria que esta a muito tempo no mercado. Pessoal nota 10. Vale a pena conferir!"</div>
                    </a>
                    <div class="testimonial-simple-author">- Magnum Oliveira</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonial-simple">
                    <a href="https://www.facebook.com/pg/piscinasdora/reviews/" target="_blank">
                        <div class="testimonial-simple-text">“Produtos de qualidade e preço ótimos. Recomendo e vale a pena!!!”</div>
                    </a>
                    <div class="testimonial-simple-author">- Ronaldo Dorigo</div>
                </div>
                <div class="testimonial-simple">
                    <a href="https://www.facebook.com/pg/piscinasdora/reviews/" target="_blank">
                        <div class="testimonial-simple-text">“Profissionais super atencioso, produtos de qualidade, show de bola.”</div>
                    </a>
                    <div class="testimonial-simple-author">- Yago Pena</div>
                </div>
                <div class="testimonial-simple">
                    <a href="https://www.facebook.com/pg/piscinasdora/reviews/" target="_blank">
                        <div class="testimonial-simple-text">"Empresa com ótimo atendimento e produtos de qualidade, recomendo."</div>
                    </a>
                    <div class="testimonial-simple-author">- José Cássio</div>
                </div>
                <div class="testimonial-simple">
                    <a href="https://www.facebook.com/pg/piscinasdora/reviews/" target="_blank">
                        <div class="testimonial-simple-text">"Como foi bom ser atendida por vocês. Recomendo"</div>
                    </a>
                    <div class="testimonial-simple-author">- Cynara Ferreira</div>
                </div>
            </div>
        </div>
    </div>
</div>