﻿@{
    ViewBag.Title = "Dicas";
    ViewBag.M = "Tip";
}

<!-- Block -->
<div class="block">
    <div class="container">
        <h1 class="text-center decor color">Dicas</h1>
        <div class="panel-group">
            <div class="faq-item">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#faq1">
                                Abra sua piscina para temporada de natação
                                <span class="caret-toggle closed">–</span>
                                <span class="caret-toggle opened">+</span>
                                <span class="number">1</span>
                            </a>
                        </h4>
                    </div>
                    <div id="faq1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Se uma piscina é devidamente vedada, ela pode ser reaberta facilmente, e que venha a temporada de natação. Mas existem algumas observações importantes, não remova a tampa da piscina até que você tenha limpo a área ao redor da piscina. Varrer ou remover os resíduos para impedir que eles entrem na piscina. Em seguida, use uma mangueira de jardim para preencher a piscina até seu nível normal de água. Reconecte tudo o que foi desconectado. A água precisará fluir através do sistema de circulação, então abra a válvula da linha skimmer. Teste a água pelo seu nível de pH, depois choque a piscina. Vai demorar uma semana ou mais antes que a piscina fique equilibrada e torne-se swimmable. Deixe a bomba funcionar 24 horas por dia e reduza a corrida por apenas uma hora ou duas por dia até que a água esteja equilibrada.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#faq2" class="collapsed">
                                Como cortar seu gramado na primavera
                                <span class="caret-toggle closed">–</span>
                                <span class="caret-toggle opened">+</span>
                                <span class="number">2</span>
                            </a>
                        </h4>
                    </div>
                    <div id="faq2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Onde você mora determina se você deve ou não invernar sua piscina. Se a sua localização de moradia tiver temperaturas que caem muito, você precisará tomar medidas para garantir que sua piscina permaneça saudável. A água da piscina residual deixada nos tubos pode estagnar e causar danos. Para evitar que isso aconteça, use um compressor de ar para tirar a água do encanamento da piscina quando a temporada de natação acabar. Além disso, drene a maior quantidade possível de água do filtro e do aquecedor. Qualquer água restante pode ser eliminada usando produtos não tóxicos. Desconecte o aquecedor, bomba e alimentadores químicos, o último dos quais deve ser limpo e armazenado.</p>

                            <p>Finalmente, limpe a piscina: esmeril, paredes de escova, vácuo, cestas de filtro vazias, válvula de linha fechada, nível de água inferior à aproximadamente 45 centimetros abaixo do coping e supercolorinate. Por fim, cubra a piscina para evitar os detritos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#faq3" class="collapsed">
                                Localizar e Reparar vazamentos
                                <span class="caret-toggle closed">–</span>
                                <span class="caret-toggle opened">+</span>
                                <span class="number">3</span>
                            </a>
                        </h4>
                    </div>
                    <div id="faq3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Às vezes, é difícil determinar se os níveis baixos de água são devidos à evaporação ou a um vazamento. Você pode descobrir vazamentos em sua piscina, realizando um teste de balde simples. Encha um balde de plástico três quartos cheio de água. No interior do balde, marque a linha de água. Coloque o balde na piscina e marque a linha de água no lado de fora do recipiente. (Se o balde tiver uma alça, remova-o para permitir uma melhor estabilidade enquanto flui.) Deixe flutuar por dois ou três dias. Se a água dentro e fora do balde descer a mesma quantidade, sua piscina está perdendo água devido à evaporação. No entanto, se o nível da água da piscina desceu mais do que a água dentro do balde, sua piscina tem um vazamento. Essa é a sua sugestão para chamar um profissional para que ele seja corrigido.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#faq4" class="collapsed">
                                Água Supercholorinate
                                <span class="caret-toggle closed">–</span>
                                <span class="caret-toggle opened">+</span>
                                <span class="number">4</span>
                            </a>
                        </h4>
                    </div>
                    <div id="faq4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Contaminantes orgânicos como amônia ou nitrogênio acumulam-se em uma piscina ao longo do tempo. Quantidades maciças de tais contaminantes podem interagir com o cloro de uma piscina para formar cloraminas, que emitem esse cheiro de cloro potente que muitas pessoas associam com piscinas. Para se livrar desse odor áspero, é necessário super-clorar - ou choque - regar a água de volta aos níveis normais de cloro. Embora possa parecer contra-intuitivo, adicionar uma grande quantidade de cloro a uma piscina pode fazer o odor indesejável desaparecer. Algumas piscinas devem ficar chocadas uma vez por semana, enquanto outras podem passar significativamente mais tempo. Siga as instruções do fabricante antes de super-clorar sua piscina para obter os melhores resultados.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#faq5" class="collapsed">
                                Manter o nível de pH
                                <span class="caret-toggle closed">–</span>
                                <span class="caret-toggle opened">+</span>
                                <span class="number">5</span>
                            </a>
                        </h4>
                    </div>
                    <div id="faq5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>A água da piscina deve ser testada regularmente para garantir que esta seja limpa e saudável. A escala de pH é uma medida de acidez ou alcalinidade que varia de 0 a 14. Uma leitura entre 7,2 e 7,8 é ideal; Esta gama é segura para os nadadores e ajuda os higienizadores a trabalhar com a máxima eficiência.</p>

                            <p>Você pode monitorar o nível de pH da sua piscina com um kit de teste. Existem muitos tipos de kits de teste disponíveis; No entanto, a maioria das versões do proprietário são kits de reagentes ou tiras de teste. Os kits de reagentes não são muito difíceis de usar. Você tira uma amostra de água da piscina, depois adiciona líquidos ou comprimidos. A água muda de cor, indicando seu equilíbrio químico. As tiras de teste funcionam de forma diferente. Quando você os submergirá na piscina por alguns segundos, os corantes que eles contêm causam que eles mudem de cor. Em seguida, combine a tira com uma tabela de cores para determinar o nível de pH da piscina. Use esta informação para avaliar o tipo e a quantidade de produtos químicos que sua piscina precisa.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#faq6" class="collapsed">
                                Verifique e mantenha o nível de água
                                <span class="caret-toggle closed">–</span>
                                <span class="caret-toggle opened">+</span>
                                <span class="number">6</span>
                            </a>
                        </h4>
                    </div>
                    <div id="faq6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Muitas águas serão perdidas em toda a temporada de natação em grande parte devido à evaporação e ao desgaste normal, como nadar, salpicos e sair da piscina. Quando você remove detritos com o seu skimmer ao longo da semana, também é um bom momento para verificar o nível da água. Certifique-se de que não caia abaixo do nível do skimmer, caso contrário, a bomba poderia estar danificada. Se a água estiver baixa, use uma mangueira de jardim para elevá-la a níveis seguros.
                            </p>
                            <p>
                                Se você drenar o seu grupo para realizar a manutenção ou uma vez que a temporada de natação tenha passado, tenha cuidado para não deixar a piscina ficar vazia por muito tempo. Como regra geral, é melhor deixar a água em uma piscina durante todo o inverno porque o peso da água se contrapõe com forças do chão pressionando contra a piscina de baixo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#faq7" class="collapsed">
                                Serviço profissional do aquecedor
                                <span class="caret-toggle closed">–</span>
                                <span class="caret-toggle opened">+</span>
                                <span class="number">7</span>
                            </a>
                        </h4>
                    </div>
                    <div id="faq7" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Aquecedores de piscinas normalmente requerem a menor manutenção de todos os equipamentos da piscina. Os aquecedores de gás podem funcionar bem sem serem atendidos por alguns anos, e os elétricos podem durar ainda mais. Consulte o manual do fabricante para obter instruções específicas sobre cuidados. Às vezes, as escalas de cálcio se acumulam dentro dos tubos de um aquecedor e restringem o fluxo, evitando que a água cai adequadamente. Se isso acontecer, recrute a ajuda de um profissional porque o aquecedor pode precisar ser desmontado e ter seus tubos limpos com uma escova de fio ou ácido. Contratar alguém para atender a sua piscina pode custar US $ 100 ou mais por mês, dependendo da manutenção que seu grupo precisa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#faq9" class="collapsed">
                                Evite acidentes
                                <span class="caret-toggle closed">–</span>
                                <span class="caret-toggle opened">+</span>
                                <span class="number">8</span>
                            </a>
                        </h4>
                    </div>
                    <div id="faq9" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Todo tipo de diversão fica ainda melhor quando acompanhado de boa dose de segurança. E isso deve envolver, primeiramente, conhecimento sobre quais são os principais incidentes que envolvem os banhistas e um ralo de piscina.
                                Em geral, é comum que algumas partes do corpo sejam sugadas, dificultando que as pessoas consigam emergir. Mas isso não é tudo, afinal de contas, alguns objetos presos ao corpo também podem ficar presos no equipamento, como correntes e pulseiras.
                                <br /><br />☑️ Evite ir à piscina com o cabelo solto completamente. Utilizar elásticos e outros itens para prender o cabelo pode ajudar a evitar acidentes, mas não é a solução definitiva (toucas de cabelo, por sua vez, são mais recomendadas).
                                <br />☑️ Evitar o uso de correntes, pulseiras, relógios, braceletes e as próprias roupas de banho. Embora seja mais fácil escapar do ralo da piscina quando eles são sugados, vale a pena evitar entrar na água com esses acessórios.
                                <br />☑️ Após diversos pulos, mergulhos e outras brincadeiras que levam as pessoas à parte funda da piscina, deve-se tomar cuidado para evitar a sucção na parte dorsal do corpo. Por se tratar de uma área grande e capaz de tapar completamente o ralo da piscina, o que aumenta o poder de sucção e impede as pessoas de se libertarem.
                                <br /><br />A diversão sempre fica melhor se acompanhada de segurança e vigia de adultos (no caso de crianças e adolescentes).
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-item last">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#faq8" class="collapsed">
                                Limpe o filtro da piscina
                                <span class="caret-toggle closed">–</span>
                                <span class="caret-toggle opened">+</span>
                                <span class="number">9</span>
                            </a>
                        </h4>
                    </div>
                    <div id="faq8" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                Existem três tipos de filtros de piscina: cartucho, areia e terra de diatomáceas. Embora existam diferentes procedimentos de manutenção para cada tipo, todos requerem limpeza periódica dependendo do tipo de filtro e com que freqüência um pool é usado. Limpar o filtro mais frequentemente do que o recomendado pode dificultar o processo de filtração. Um filtro limpo é menos eficiente do que um com uma quantidade leve de sujeira, porque a sujeira ajuda a capturar outras partículas, que removem os restos da água. No entanto, você não quer deixar o filtro ficar muito sujo. Um sinal de que é hora de limpar é um aumento no fluxo entre o medidor de pressão e o medidor de vazão. Limpe o filtro quando a diferença atingir 10 a 15 libras (4,5 a 6,8 quilos) por polegada quadrada.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

