﻿<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Loja de materiais para área de lazer especializada em piscina" />
    <meta name="author" content="" />
    <link rel="icon" href="/favicon.ico">
    <!--<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />-->
    <title>@ViewBag.Title | Piscinas D'ORA</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/plugins/bootstrap.min.css" rel="stylesheet">
    <link href="/css/plugins/bootstrap-submenu.css" rel="stylesheet">
    <link href="/css/plugins/animate.min.css" rel="stylesheet">
    <link href="/css/plugins/nivo-slider.css" rel="stylesheet">
    <link href="/css/plugins/slick.css" rel="stylesheet">
    <link href="/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!-- Icon Font-->
    <link href="/font/icons/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
    <!-- Loader -->
    <div id="loader-wrapper" class="loader-off">
        <div id="loader">
            <div class="loader">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>carregando</p>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="page-header sticky">
        <!-- Fixed navbar -->
        <nav class="navbar" id="slide-nav">
            <div class="container">
                <div class="navbar-header">
                    <div class="header-top">
                        <div class="row">
                            <div class="col-sm-8 col-md-4 first-mobile">
                                <div class="phone">
                                    <div class="number"><i class="icon icon-call-telephone"></i><span>(31) 3224-7077</span></div>
                                    <div>LIGUE PARA DÚVIDAS, ORÇAMENTOS E AGENDAMENTOS</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-lg-3 hidden-xs hidden-sm">
                                <div class="slogan">Há 30 anos dispobilizando os melhores materiais e serviços para seu lazer</div>
                            </div>
                            <div class="col-lg-1 visible-lg"></div>
                            <div class="col-sm-4 text-center">
                                <div class="logo">
                                    <a href="/Home/Index"><img src="/images/logo.png" alt="Logo"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="navbar-toggle"><i class="icon icon-menu"></i><i class="icon icon-cancel"></i></button>
                </div>
                <div id="slidemenu" data-hover="dropdown" data-animations="fadeIn">
                    <ul class="nav navbar-nav">
                        <li id="Home"><a href="/Home/Index">HOME</a></li>
                        <li id="About" class="dropdown">
                            <a href="/Home/About" data-toggle="dropdown">SOBRE<span class="ecaret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Home/Testimonial">O QUE DIZEM SOBRE NÓS</a></li>
                            </ul>
                        </li>
                        <li id="Shop"><a href="/Home/Shop">PRODUTOS</a></li>
                        <li id="Service" class="dropdown">
                            <a href="/Service/Services" data-toggle="dropdown">SERVIÇOS<span class="ecaret"></span></a>
                        </li>
                        <li id="Tip"><a href="/Home/Tips">DICAS</a></li>
                        <li id="Contact"><a href="/Home/Contact">CONTATOS</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content  -->
    <div id="page-content">
        @RenderBody()
    </div>
    <!-- Footer -->
    <div class="page-footer">
        <div class="back-to-top hidden-xs"><a href="#top"><span class="icon icon-up-arrow"></span></a></div>
        <div class="container">
            <div class="footer-menu hidden-xs">
                <ul>
                    <li><a href="/Home/Index">HOME</a></li>
                    <li><a href="/Home/About">SOBRE</a></li>
                    <li><a href="/Service/Services">SERVIÇOS</a></li>
                    <li><a href="/Home/Tips">DICAS</a></li>
                    <li><a href="/Home/Shop">LOJA</a></li>
                    <li><a href="/Home/Contact">CONTATOS</a></li>
                </ul>
            </div>
            <div class="row footer-row">
                <div class="col-sm-4">
                    <div class="location"><i class="icon icon-location"></i>AVENIDA BIAS FORTES, 340, LOJA. CENTRO BH 30.170-011</div>
                </div>
                <div class="col-sm-4 first-mobile">
                    <div class="phone">
                        <div class="number"><i class="icon icon-call-telephone"></i><span>(31) 3224-7077</span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="logo">
                        <a href="/Home/Index"><img src="/images/logo-invert.png" alt="Logo"></a>
                    </div>
                </div>
            </div>
            <div class="footer-bot">
                <div class="copyright">© Piscinas D'ora. 2017. Política de Privacidade</div>
                <div class="social-links">
                    <ul>
                        <li>
                            <a class="icon icon-social-facebook" href="https://www.facebook.com/piscinasdora/" target="_blank"></a>
                        </li>
                        <li>
                            <a class="icon icon-instagram" href="https://www.instagram.com/piscinasdora/" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <canvas id='footerSea'></canvas>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/plugins/bootstrap.min.js"></script>
    <script src="/js/plugins/jquery.nivo.slider.js"></script>
    <script src="/js/plugins/slick.min.js"></script>
    <script src="/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="/js/plugins/jquery.waypoints.min.js"></script>
    <script src="/js/plugins/jquery.countTo.js"></script>
    <!--Scripts Galeria-->
    <script src="/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="/js/plugins/isotope.pkgd.min.js"></script>
    <!--Scripts Shop-->
    <script src="/js/plugins/nouislider.min.js"></script>
    <script src="/js/custom.js"></script>
    <!--Services-->
    <script src="/js/plugins/jquery.form.js"></script>
    <script src="/js/plugins/jquery.validate.min.js"></script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            if (document.getElementById('@ViewBag.M') != null) {
                document.getElementById('@ViewBag.M').className += ' active';
                //$("#@ViewBag.M").addClass("active");
            }
        });
    </script>
</body>
</html>
