﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Erro.</h1>
    <h2 class="error">Um erro ocorreu enquanto estava processando sua requisição.</h2>
</hgroup>
