﻿@{
    ViewBag.Title = "Serviços";
    ViewBag.M = "Service";
}

<!-- Services Block -->
<div class="block">
    <div class="container">
        <div class="row services-carousel">
            <div class="col-sm-4 animation" data-animation="fadeInLeft" data-animation-delay="0s">
                <div class="service-item">
                    <div class="icon-circle">
                        <div class="icon-hover"></div>
                        <div class="icon icon-swimming-pool"></div>
                    </div>
                    <div class="service-title">
                        <h4><span>PISCINA RESIDENCIAL <br>MATERIAIS</span></h4>
                    </div>
                    <div class="service-text">Uma piscina pode fornecer o refúgio perfeito para você e sua família </div>
                </div>
            </div>
            <div class="col-sm-4 animation" data-animation="fadeInUp" data-animation-delay="0s">
                <div class="service-item">
                    <div class="icon-circle">
                        <div class="icon-hover"></div>
                        <div class="icon icon-waterpolo"></div>
                    </div>
                    <div class="service-title">
                        <h4><span>PISCINAS COMERCIAIS <br>MATERIAIS</span></h4>
                    </div>
                    <div class="service-text"> Fornecemos todas as necessidades comerciais de piscina, spa, sauna, aquecedores, projetos de renovação e construção </div>
                </div>
            </div>
            <div class="col-sm-4 animation" data-animation="fadeInRight" data-animation-delay="0s">
                <div class="service-item">
                    <div class="icon-circle">
                        <div class="icon-hover"></div>
                        <div class="icon icon-shovel"></div>
                    </div>
                    <div class="service-title">
                        <h4><span>PROJETO E CONSTRUÇÃO <br> SERVIÇOS</span></h4>
                    </div>
                    <div class="service-text">Podemos ajudá-lo a projetar algo que atenda às suas especificações únicas </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Block -->
<div class="block bg-3">
    <div class="container">
        <h2 class="text-center decor decor-white">Especialistas em saunas, tratamento de água, filtros e tudo que é necessário para seu lazer</h2>
        <div class="row text-icon-carousel step-animation-container">
            <div class="col-sm-6 step-animation" data-animation="fadeInLeft" data-animation-delay="0s">
                <h5 class="text-icon-hor-title">PEÇA POR TELEFONE</h5>
                <div class="text-icon-hor">
                    <div class="text-icon-hor-icon"><i class="icon icon-handshake"></i></div>
                    <div class="text-icon-hor-text">Com técnicos preparados e parceiros dispostos a entregar a você materiais de primeira qualidade, serviços com garantia especial e projetos, análises feitas por profissionais qualificados.</div>
                </div>
            </div>
            <div class="col-sm-6 step-animation" data-animation="fadeInRight" data-animation-delay="0s">
                <h5 class="text-icon-hor-title">ATENDIMENTO RÁPIDO</h5>
                <div class="text-icon-hor">
                    <div class="text-icon-hor-icon"><i class="icon icon-wrench"></i></div>
                    <div class="text-icon-hor-text">Ao entrar em contato com nossa central de atendimento, seu pedido será entregue o quanto antes. Estamos localizados na região central de Belo Horizonte e temos toda uma logística preparada para lhe atender, com segurança e rapidez.</div>
                </div>
            </div>
            <div class="col-sm-6 step-animation" data-animation="fadeInLeft" data-animation-delay="0.2s">
                <h5 class="text-icon-hor-title">SERVIÇOS COM GARANTIA</h5>
                <div class="text-icon-hor">
                    <div class="text-icon-hor-icon"><i class="icon icon-sweep"></i></div>
                    <div class="text-icon-hor-text">Nossos serviços são realizados por profissionais com ampla experiência, seja qual for o problema em sua sauna, aquecedor ou piscina, a Piscinas D'ora está pronta para te atender</div>
                </div>
            </div>
            <div class="col-sm-6 step-animation" data-animation="fadeInRight" data-animation-delay="0.2s">
                <h5 class="text-icon-hor-title">PRODUTOS DE PRIMEIRA QUALIDADE</h5>
                <div class="text-icon-hor">
                    <div class="text-icon-hor-icon"><i class="icon icon-test-tube"></i></div>
                    <div class="text-icon-hor-text">Trabalhando com os melhores produtos, elevador de pH, cloro, Algicida de choque, Decantador e muito mais para deixar sua piscina perfeita, entregamos na sua casa</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Category Block -->
<div class="block bottom-sm-margin">
    <div class="container">
        <h2 class="decor color text-center">Serviços para sua piscina e sauna</h2>
        <div class="row category-carousel">
            <div class="col-sm-6 col-md-4">
                <div class="category-item animation" data-animation="fadeInLeft" data-animation-delay="0s">
                    <div class="category-image">
                        <img src="/images/category-img-01.jpg" alt="" class="img-responsive">
                        <h5 class="category-title">Reparos</h5>
                        <div class="wave-wrapper">
                            <div class="wave"></div>
                        </div>
                    </div>
                    <div class="category-text">
                        Serviços de reparo, tais como vazamento, substituição da válvula ou mau funcionamento da bomba
                        <span class="category-more-link">
                            <a href="../Home/contact">
                                <span class="icon icon-right-arrow"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 animation" data-animation="fadeIn" data-animation-delay="0s">
                <div class="category-item">
                    <div class="category-image">
                        <img src="/images/category-img-02.jpg" alt="" class="img-responsive">
                        <h5 class="category-title">Reformas</h5>
                        <div class="wave-wrapper">
                            <div class="wave"></div>
                        </div>
                    </div>
                    <div class="category-text">
                        Nós podemos ajudar a projetar e restaurar piscinas e saunas antigas para parecer novas!
                        <span class="category-more-link">
                            <a href="../Home/contact">
                                <span class="icon icon-right-arrow"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 animation" data-animation="fadeInRight" data-animation-delay="0s">
                <div class="category-item">
                    <div class="category-image">
                        <img src="/images/category-img-03.jpg" alt="" class="img-responsive">
                        <h5 class="category-title">Instalação de equipamentos</h5>
                        <div class="wave-wrapper">
                            <div class="wave"></div>
                        </div>
                    </div>
                    <div class="category-text">
                        Nossos especialistas técnicos realizam a instalação do seu novo equipamento
                        <span class="category-more-link">
                            <a href="../Home/contact">
                                <span class="icon icon-right-arrow"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="category-item animation" data-animation="fadeInLeft" data-animation-delay="0s">
                    <div class="category-image">
                        <img src="/images/category-img-04.jpg" alt="" class="img-responsive">
                        <h5 class="category-title">
                            Superfícies de Piscina
                        </h5>
                        <div class="wave-wrapper">
                            <div class="wave"></div>
                        </div>
                    </div>
                    <div class="category-text">
                        Oferecemos todos os produtos necessários para revovar aquela piscina que precisa de uma vida nova! Confira conosco!
                        <span class="category-more-link">
                            <a href="../Home/contact">
                                <span class="icon icon-right-arrow"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="category-item animation" data-animation="fadeIn" data-animation-delay="0s">
                    <div class="category-image">
                        <img src="/images/category-img-05.jpg" alt="" class="img-responsive">
                        <h5 class="category-title">Materiais de Limpeza</h5>
                        <div class="wave-wrapper">
                            <div class="wave"></div>
                        </div>
                    </div>
                    <div class="category-text">
                        Todos os melhores produtos de limpeza do mercado estão aqui conosco! Faça seu orçamento!
                        <span class="category-more-link">
                            <a href="../Home/contact">
                                <span class="icon icon-right-arrow"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="category-item animation" data-animation="fadeInRight" data-animation-delay="0s">
                    <div class="category-image">
                        <img src="/images/category-img-06.jpg" alt="" class="img-responsive">
                        <h5 class="category-title">Projetos e modernização</h5>
                        <div class="wave-wrapper">
                            <div class="wave"></div>
                        </div>
                    </div>
                    <div class="category-text">
                        Nós facilitamos a troca de todos equipamentos com uma grande variedade de produtos, criando o que você imaginou!
                        <span class="category-more-link">
                            <a href="../Home/contact">
                                <span class="icon icon-right-arrow"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

